### Create tables

In [1]:
import sqlite3 #sqlite3 is a built-in data base in Python 3

In [2]:
#Connects to a local db file if existing where our databases are stored. Else creates a new file
conn = sqlite3.connect('dbtest3') #Also accepts special string :memory to create a temporary data base

In [3]:
curs = conn.cursor()#a cursor for submitting SQL statements to the database server

In [6]:
#SQl stattement to create table
tblcmd = 'create table stud (name varchar(30), review varchar(10), \
Status varchar(10))'

In [7]:
curs.execute(tblcmd) #Use the cursor to execute the SQL statement

OperationalError: table stud already exists

### Insert statements

In [ ]:
#Basic Inserts

In [8]:
curs.execute('insert into stud values("Bob", "yes", "accepted")')

In [9]:
curs.rowcount #Gives the number of rows produced or affected by the last statement

1

In [10]:
conn.commit() 
#Always call commit to write our changes to database. 
#Else when the connecton is closed, data may be lost

In [ ]:
# Parameterized inserts

In [11]:
l = ['Sonu','no','accepted']
curs.execute('insert into stud values(?,?,?)',l)
#Parameterized queries where parameters are substituted in order 
#Parameters are generally passed in as a sequence - list or a tuple
conn.commit()

In [12]:
sqlite3.paramstyle
#Tells us what style the db used for substitution targets

'qmark'

In [13]:
# Multiple row inserts with loops
rows = [['Rama','yes','rejected'],['Geetha','no','rejected'],['Ria','no','rejected']]

for row in rows:
    curs.execute('insert into stud values(?,?,?)',row)

In [14]:
# Multiple row inserts with single statement
inp = [['Bala','yes','rejected'],['Lia','no','rejected'],\
       ['Perin','no','rejected']]
curs.executemany('insert into stud values(?,?,?)',inp)

In [15]:
conn.commit()

### Select queries

In [16]:
#fetchall
a = curs.execute('select * from stud')
print(a)
for r in a:#Direct iteratethe cursor and print
    print(r)

<sqlite3.Cursor object at 0x00000200E556BB20>
('Bob', 'yes', 'accepted')
('Sonu', 'no', 'accepted')
('Rama', 'yes', 'rejected')
('Geetha', 'no', 'rejected')
('Ria', 'no', 'rejected')
('Bala', 'yes', 'rejected')
('Lia', 'no', 'rejected')
('Perin', 'no', 'rejected')

In [17]:
curs.execute('select * from stud')
for row in curs.fetchall():
    print(row)

('Bob', 'yes', 'accepted')
('Sonu', 'no', 'accepted')
('Rama', 'yes', 'rejected')
('Geetha', 'no', 'rejected')
('Ria', 'no', 'rejected')
('Bala', 'yes', 'rejected')
('Lia', 'no', 'rejected')
('Perin', 'no', 'rejected')

In [18]:
curs.execute('select * from stud')
names = [rec[0] for rec in curs.fetchall()]
names

['Bob', 'Sonu', 'Rama', 'Geetha', 'Ria', 'Bala', 'Lia', 'Perin']

In [19]:
curs.execute('select * from stud')
for (name,review,Status) in curs.fetchall():
    print (name,':',Status)

Bob : accepted
Sonu : accepted
Rama : rejected
Geetha : rejected
Ria : rejected
Bala : rejected
Lia : rejected
Perin : rejected

In [20]:
#fetchone will fetch one row
curs.execute('select * from stud')
curs.fetchone()

('Bob', 'yes', 'accepted')

In [21]:
#fetchmany returns a sequence of rows from the result, but not the entire table/result
curs.execute('select * from stud')
curs.fetchmany(2)

[('Bob', 'yes', 'accepted'), ('Sonu', 'no', 'accepted')]

In [ ]:
conn.close()

### Another example

Using sqlite3, 
Create a Product table and OrderItem table with the following fields 

Product(Prod_id, Prod_name, Unit_price)
OrderItem(Order_id,Prod_id,Quantity)
Note:
The Product_ID field in the OrderItem table is a foreign key to the Product table's OrderID column.
Hint: SQL query to create OrderItem table would look like 
"create table OrderItem (Order_ID int(4),Quantity int(4), Prod_id int(4), \
FOREIGN KEY(Prod_id) REFERENCES product(Prod_id))"

In [23]:
import sqlite3
conn = sqlite3.connect('products')
#conn.execute("PRAGMA foreign_keys = 1")
curs = conn.cursor()

cmnd = "create table product (Prod_id int(4) PRIMARY KEY, Prod_name char(20) \
, Unit_price real)"
curs.execute(cmnd)

curs.executemany('insert into product values (?,?,?)',\
[(34,"Towel", 200),(67,"Lunch Box", 300),(56,"Paper Folder",45.50)])

conn.commit()

In [24]:
cmnd = "create table OrderItem (Order_ID int(4) PRIMARY KEY,Quantity int(4), Prod_id int(4), \
FOREIGN KEY(Prod_id) REFERENCES product(Prod_id))"
curs.execute(cmnd)

In [25]:
curs.executemany('insert into OrderItem values (?,?,?)',\
    [(22,4,34),(23,5,67),(25,7,56)])
conn.commit()

In [26]:
curs.execute('insert into OrderItem values (?,?,?)',\
    (22,4,340))#Throws an error since product id 340 is not there in product table
conn.commit()

IntegrityError: UNIQUE constraint failed: OrderItem.Order_ID

In [ ]:
curs.executemany('insert into product values (?,?,?,?,?)',\
[(34,"Towel", "Cover" ,200, 36),(67,"Lunch Box","Bag" ,300, 45)
])
curs.execute('insert into OrderItem values (?,?,?)',(22,4,34))
conn.commit()

In [19]:
import sqlite3
conn = sqlite3.connect('sample71')
curs = conn.cursor()

cmnd = "create table Employee (EmpID int(4), Name char(20) \
, Age int(2),Address char(50),Salary real)"
curs.execute(cmnd)

curs.executemany('insert into Employee values (?,?,?,?,?)',[(1000,"Tony",28,"Chennai", 36005.00),(67,"Logan",31 ,"Mumbai", 450000.50)])
conn.commit()
curs.execute("Select * from Employee")
print(curs.fetchall())

curs.execute('UPDATE Employee SET Salary=(Salary+Salary*0.05)')
conn.commit()
print(curs.fetchall())

curs.execute("Select * from Employee")
print(curs.fetchall())

curs.execute('select * from Employee where Salary>50000.00')
conn.commit()
print(curs.fetchall())

curs.execute('Delete from Employee where EmpID=1000')
conn.commit()

curs.execute("Select * from Employee")
print(curs.fetchall())

conn.close()

[(1000, 'Tony', 28, 'Chennai', 36005.0), (67, 'Logan', 31, 'Mumbai', 450000.5)]
[]
[(1000, 'Tony', 28, 'Chennai', 37805.25), (67, 'Logan', 31, 'Mumbai', 472500.525)]
[(67, 'Logan', 31, 'Mumbai', 472500.525)]
[(67, 'Logan', 31, 'Mumbai', 472500.525)]

In [20]:
import sqlite3
conn = sqlite3.connect('sample21')
curs = conn.cursor()
#Create table
cmnd = "CREATE TABLE IF NOT EXISTS course_master (course_code integer PRIMARY KEY,\
course_name text NOT NULL, course_credits integer,course_staff text NOT NULL)"
curs.execute(cmnd)
#Insert into table
rows = [(300,'Java',3,"Raghu"),(568,'Algorithms',4,"Seenu")]
for r in rows:
    curs.execute('insert into course_master values (?,?,?,?)', r)
#Function for select
def sel():
    global curs
    curs.execute('select * from course_master')
    for row in curs.fetchall():
        print(row)
print("Content after insert:")
sel()
#Update
cmnd = "UPDATE course_master SET course_name = 'Prog in Java' WHERE course_code = 300"
curs.execute(cmnd)
print("Content after update:")
sel()
#Delete
cmnd = "delete from course_master where course_name='Algorithms'"
curs.execute(cmnd)

print("Content after delete:")
sel()

Content after insert:
(300, 'Java', 3, 'Raghu')
(568, 'Algorithms', 4, 'Seenu')
Content after update:
(300, 'Prog in Java', 3, 'Raghu')
(568, 'Algorithms', 4, 'Seenu')
Content after delete:
(300, 'Prog in Java', 3, 'Raghu')

In [21]:
import sqlite3
conn = sqlite3.connect('TESTDB332')
curs = conn.cursor()

cmnd = "create table Department (DeptID int(3) PRIMARY KEY,DeptName varchar(10),Location varchar(30))"
curs.execute(cmnd)

cmnd = "create table Employee (EmpID int(4) PRIMARY KEY, Name char(20) \
, Age int(2),Address char(50),Salary real, \
DeptID int(3), FOREIGN KEY(DeptID) REFERENCES Department(DeptID))"
curs.execute(cmnd)

r = [(101,'IT','TechPark'),(167,'Mathematics','University Building'),(127,'EEE','Hi Tech Block')]
curs.execute('insert into Department values (?,?,?)',(123,'CSE','TP'))
conn.commit()

In [22]:
curs.executemany('insert into Department values (?,?,?)',r)
conn.commit()

In [23]:


curs.executemany('insert into Employee values (?,?,?,?,?,?)',\
[(1000,"Tony",28,"Chennai", 36005.00,127),
 (67,"Logan",31 ,"Mumbai", 450000.50,101)])
conn.commit()

curs.execute('UPDATE Employee SET Salary=(Salary+Salary*0.05)')
conn.commit()
print(curs.fetchall())

curs.execute("Select * from Employee")
print(curs.fetchall())

curs.execute('select * from Employee where Salary>50000.00')
conn.commit()
print(curs.fetchall())

curs.execute('Delete from Employee where EmpID=1000')
conn.commit()

curs.execute("Select * from Employee")
print(curs.fetchall())

conn.close()

[]
[(1000, 'Tony', 28, 'Chennai', 37805.25, 127), (67, 'Logan', 31, 'Mumbai', 472500.525, 101)]
[(67, 'Logan', 31, 'Mumbai', 472500.525, 101)]
[(67, 'Logan', 31, 'Mumbai', 472500.525, 101)]