In [3]:
from pyDatalog import pyDatalog

In [ ]:
pip install --upgrade pyDatalog

In [ ]:
pip install pyDatalog

In [15]:
pyDatalog.create_terms('X,Y')#Creating variables     

print(X==1)#Give me all X so that X is 1

X
-
1

In [3]:
print((X==True) & (Y==False))
#Give all possible values of X and Y for which the stattement is true

X    | Y
-----|------
True | False

In [4]:
print((X==True) & (X==False))

[]

In [16]:
print((X==input('Please enter your name : ')) & (Y=='Hello ' + X[0]))

X      | Y
-------|--------
subham | Hello s

In [5]:
print((X==(1,2)+(3,)) & (Y==X[2]))

X         | Y
----------|--
(1, 2, 3) | 3

In [6]:
#To use your own functions in logic expressions, 
#define them in Python, then ask pyDatalog to create logical terms for them:
def twice(a):
    return a+a

pyDatalog.create_terms('twice')

print((X==1) & (Y==twice(X)))

X | Y
--|--
1 | 2

In [ ]:
#pyDatalog variables can be passed to functions in the Python standard library
import math
pyDatalog.create_terms('math')
print((X==2) & (Y==math.sqrt(X)))

In [7]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z')

In [8]:
# give me all the X so that X in the list of numbers
print(X.in_((0,1,2,3,4)))
#print(X)

X
-
4
3
2
1
0

In [9]:
#print(X.in_(range(5)))#give me all the X so that X is in the range 0..4
print(X.in_(range(5)) == [(0,), (1,), (2,), (3,), (4,)])

True

In [10]:
print("Data : ",X.data)
#after a query, a variable contains a tuple of all its possible values
print("one value : ",  X.v())#Extract one value
# below, '>=' is a variable extraction operator
print("Extraction of one value of X: ", X.in_(range(5)) >= X)

Data :  [4, 3, 2, 1, 0]
one value :  4
Extraction of one value of X:  4

In [19]:
# give me all X in range 0..4 that are below 2
o=X.in_(range(5))<=(X<2)
print(o)

_pyD_in(X,'['0', '1', '2', '3', '4']') <= <(X,'2')

In [ ]:
# give me all X, Y and Z so that X and Y are in 0..4, Z is their sum, and Z is below 3
print(X.in_(range(5)) &
          Y.in_(range(5)) &
              (Z==X+Y) &
              (Z<3))

# Logic Functions - Example

In [12]:
# calculate the net salary of employee foo and bar
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z, salary, tax_rate, tax_rate_for_salary_above, net_salary')

In [13]:
#A function defines one value for a given argument. 
#It is similar to a python dictionary.
salary['foo'] = 60 #One value for one argument - foo is the argument and 60 is the value
salary['bar'] = 110
# give me all the X and Y so that the salary of X is Y
print(salary[X]==Y)

X   | Y
----|----
foo | 60
bar | 110

In [ ]:
#A function has only one value for a given argument.
# foo now has a salary of 70
salary['foo'] = 70
print(salary['foo']==Y)
#give me all possible values for Y for which cond is true
#or give me the salary of foo

In [ ]:
#A function can also be queried by value.
# give me all the X that have a salary of 110
print(salary[X]==110)

In [ ]:
print((salary[X]==Y) & ~(Y==110)) #Negation example

In [ ]:
#Define global tax
+(tax_rate[None]==0.33)

In [ ]:
#Use the tax rate defined above in a formula
print((Z==salary[X]*(1-tax_rate[None])))

In [ ]:
net_salary[X] = salary[X]*(1-tax_rate[None])

# give me all the X and Y so that Y is the net salary of X
print(net_salary[X]==Y)

In [ ]:
#Sample Queries

#1. Net salary of foo
print(net_salary['foo']==Y)

#2. Find persons whose salry less than 50
print(net_salary[X]<50)

In [ ]:
#Conditionals example
# the tax rate for salaries above 0 is 33%, and above 100 is 50 %

(tax_rate_for_salary_above[X] == 0.33) <= (0 <= X)
(tax_rate_for_salary_above[X] == 0.50) <= (100 <= X)

print(tax_rate_for_salary_above[70]==Y)
print(tax_rate_for_salary_above[270]==Y)

In [ ]:
#We will change the net salary definition
del net_salary[X]

In [ ]:
net_salary[X] = salary[X]*(1-tax_rate_for_salary_above[salary[X]])

In [ ]:
print(net_salary[X]==Y)

# Factorial Example

In [ ]:
#Factorial of N
pyDatalog.create_terms('factorial, N')

factorial[N] = N*factorial[N-1]
factorial[1] = 1

print(factorial[3]==N)

# Aggregate Functions

In [ ]:
#Aggregate Functions - Example
from pyDatalog import pyDatalog

#Create variables
pyDatalog.create_terms('X,Y,Z,manager, count_of_direct_reports,works_in, department_size, manager, \
                       indirect_manager, count_of_indirect_reports')

In [ ]:
# Create facts - the manager of Mary is John
+(manager['Mary'] == 'John')
+(manager['Sam']  == 'Mary')
+(manager['Tom']  == 'Mary')

In [ ]:
#rule
(count_of_direct_reports[X]==len_(Y)) <= (manager[Y]==X)
#Query
print(count_of_direct_reports['Mary']==Z)#Give me the count of people for whom Mary is the manager

In [ ]:
#literal definition - similar to sets in Python
# Mary works in Production
+ works_in('Mary', 'Production')
+ works_in('Sam',  'Marketing')
+ works_in('John', 'Production')
+ works_in('John', 'Marketing')

In [ ]:
# procedural equivalent in Python
_works_in = set()
_works_in.add(('Mary', 'Production'))
_works_in.add(('Sam',  'Marketing'))
_works_in.add(('John', 'Production'))
_works_in.add(('John', 'Marketing'))

In [ ]:
# give me all the X that work in Marketing
print(works_in(X,  'Marketing'))

In [ ]:
#Create rules
#Rule 1
# one of the indirect manager of X is Y, if the (direct) manager of X is Y
indirect_manager(X,Y) <= (manager[X] == Y)
#Rule 2
# another indirect manager of X is Y, if there is a Z so that the manager of X is Z, 
#   and an indirect manager of Z is Y
indirect_manager(X,Y) <= (manager[X] == Z) & indirect_manager(Z,Y)

In [ ]:
# the manager of John is Mary (whose manager is John !)
#manager['John'] = 'Mary'#Fact
#manager['Sam']
print(indirect_manager('John',X))
print(indirect_manager('Sam',Z))

In [ ]:
# John does not work in Production anymore
(count_of_indirect_reports[X]==len_(Y)) <= indirect_manager(Y,X)
print(count_of_indirect_reports['John']==Y)

# Tree representation

In [ ]:
#Tree, graphs and recursive algorithms
pyDatalog.create_terms('link, can_reach')

# Create facts - there is a link between node 1 and node 2
+link(1,2)
+link(2,3)
+link(2,4)
+link(2,5)
+link(5,6)
+link(6,7)
+link(7,2)

In [ ]:
# Create rules - links are bi-directional
link(X,Y) <= link(Y,X)
can_reach(X,Y) <= link(X,Y) # direct link
# via Z
can_reach(X,Y) <= link(X,Z) & can_reach(Z,Y) & (X!=Y)

In [ ]:
# Answer Queries - can Y be reached from X ?
print (can_reach(4,Y))

In [ ]:
print(link(X,2))